@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

body {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 25px;
}

/**classes**/ 

.navbar ul {
    
    list-style: none;
    width: 1500px;
    left: 0px;
    top:19px;
    height: 35px;
    margin: 0 auto;
    padding : 0;
    background-color :white;
    text-align : center;

}

.navbar li {
    width: 300 px;
    background-color: white;
    border: 1px solid white;
    padding: 10px;
    display: inline-block;
    line-height: 40px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    height: 145px;
    width: 500px;
}

.subparagraph {
    font-size: 12px;
    position: absolute;
}

.subheading{
    position: absolute;
    font-size: 26px;
}

.icon{
    position: absolute;
    width: 53px;
    height: 53px;
}

.middleheading{
    position: absolute;
    font-size: 16px;
}

.paragraph{
    position: absolute;
    font-size: 18px;
}

.bulletlist{
    font-size: 18px;
    position: absolute;
}

.image{
    position: absolute;
    width: 370px;
    height: 370px;
}

/** ids **/

#maintitle{
    top: 75px;
    left: 605px;
}

#image1{
    left: 150px;
    top: 150px;
}

#image2{
    left: 1000px;
    top:150px
}

#chart1{
    left: 580px;
    top:150px;
}

#subheading1{
    top:550px;
    left: 535px;
}

#p1{
    left: 560px;
    top: 650px;
    width: 400px;
}

#subheading2{
    top: 750px;
    left: 150px;
}

#p2{
    top: 800px;
    left: 120px;
    width: 400px;
}

#subheading3{
    top:750px;
    left: 1150px;
}

#p3{
    top: 800px;
    left: 1040px;
    width: 400px;
}

#chart2{
    left: 580px;
    top: 850px;
}