@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

body {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 25px;
    background-color: #FF6600;
}

/**classes**/ 

.navbar ul {
    
    list-style: none;
    width: 1500px;
    left: 0px;
    top:19px;
    height: 35px;
    margin: 0 auto;
    padding : 0;
    background-color : #FF6600;
    text-align : center;

}

.navbar li {
    width: 300 px;
    background-color: #FF6600;
    border: 1px solid #FF6600;
    padding: 10px;
    display: inline-block;
    line-height: 40px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    height: 145px;
    width: 500px;
}

.subparagraph {
    font-size: 12px;
    position: absolute;
}

.subheading{
    position: absolute;
    font-size: 26px;
}

.icon{
    position: absolute;
    width: 53px;
    height: 53px;
}

.middleheading{
    position: absolute;
    font-size: 16px;
}

.paragraph{
    position: absolute;
    font-size: 18px;
}

.bulletlist{
    font-size: 18px;
    position: absolute;
}

.image{
    position: absolute;
    width: 370px;
    height: 370px;
}

#title{
    width: 1000px;
    top: 50px;
    left: 405px;
}

#p1{
    width: 400px;
    top: 100px;
    left: 575px;
}

#subheading1{
    top: 300px;
    left: 575px;
}

#p2{
    width: 400px;
    top: 350px;
    left: 575px;  
}

#subheading2{
    top:475px;
    left: 675px;
}

#p3{
    width: 400px;
    top: 525px;
    left: 575px; 
}

#image1{
    position: absolute;
    width: 400px;
    height: 400px;
    top: 150px;
    left: 60px;
}

#image1credit{
    top: 550px;
    left: 170px;
}

#image2{
    position: absolute;
    width: 400px;
    height: 400px;
    top: 150px;
    left: 1066px;
}

#image2credit{
    top: 550px;
    left: 1170px;
}