@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

body {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 25px;
    background-color: #BBBBBB;
}

/**classes**/ 

.navbar ul {
    
    list-style: none;
    width: 1500px;
    left: 0px;
    top:19px;
    height: 35px;
    margin: 0 auto;
    padding : 0;
    background-color :#BBBBBB;
    text-align : center;

}

.navbar li {
    width: 300 px;
    background-color: #BBBBBB;
    border: 1px solid #BBBBBB;
    padding: 10px;
    display: inline-block;
    line-height: 40px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    height: 145px;
    width: 500px;
}

.subparagraph {
    font-size: 12px;
    position: absolute;
}

.subheading{
    position: absolute;
    font-size: 26px;
}

.icon{
    position: absolute;
    width: 53px;
    height: 53px;
}

.middleheading{
    position: absolute;
    font-size: 16px;
}

.paragraph{
    position: absolute;
    font-size: 18px;
}

.bulletlist{
    font-size: 18px;
    position: absolute;
}

.image{
    position: absolute;
    width: 370px;
    height: 370px;
}

/** ids **/

#impact{
    left: 545px;
    top:100px;
}

#thailand{
    left: 665px;
    top: 200px;
    width: 200px;
    height: 200px;
}

#thailandcredit{
    top: 400px;
    left: 635px;
}

#subheading1{
    left: 435px;
    top: 500px;
    width: 900px;
    height: 37px;
}

#p1{
    left: 520px;
    top: 600px;
    width: 500px;
    height: 200px;
}

#protest{
    top:600px;
    left: 0px;

}

#protestcredit{
    top:960px;
    left: 50px;
}

#waterpollution{
    left: 60px;
    top: 200px;
    width: 200px;
    height: 200px;
}

#waterpollutioncredit{
    left: 30px;
    top: 400px;
}

#pollutedriver{
    left: 1250px;
    top:200px;
    width: 200px;
    height: 200px;
}

#rivercredit{
    top : 400px;
    left: 1250px;
}

#hotspots{
    top:600px;
    left: 1150px;
}

#hotspotcredit{
    top:960px;
    left: 1160px;
}

#subheading2{
    top:700px;
    left: 370px;
    width: 800px;
    height: 200px;
}

#p2{
    left: 520px;
    top: 800px;
    width: 500px;
    height: 200px;
}

#subheading3{
    top: 900px;
    left: 715px;
    width: 800px;
    height: 200px;
}

#stats{
    top: 1000px;
    left: 525px;
    width: 500px;
    height: 200px;
}

#stat1{
    top: 1175px;
    left:60px;
}

#stat2{
    top: 1175px;
    left:585px;
}

#explainer{
    top: 1550px;
    left: 600px;
}

#circlechart{
    top: 1175px;
    left: 1095px;
}

#circleexplainer{
    top: 1550px;
    left: 1080px;
    width: 450px;
}


