@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

body {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 25px;
    background-color: #BBBBBB;
}

/**classes**/ 

.navbar ul {
    
    list-style: none;
    width: 1500px;
    left: 0px;
    top:19px;
    height: 35px;
    margin: 0 auto;
    padding : 0;
    background-color :#BBBBBB;
    text-align : center;

}

.navbar li {
    width: 300 px;
    background-color: #BBBBBB;
    border: 1px solid #BBBBBB;
    padding: 10px;
    display: inline-block;
    line-height: 40px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
}

.subparagraph {
    font-size: 12px;
    position: absolute;
}

.subheading{
    position: absolute;
    font-size: 26px;
}

.icon{
    position: absolute;
    width: 53px;
    height: 53px;
}

.middleheading{
    position: absolute;
    font-size: 16px;
}

.paragraph{
    position: absolute;
    font-size: 18px;
}

.bulletlist{
    font-size: 18px;
    position: absolute;
}



/** ids**/
#maintitle {
    left: 616px;
    top: 100px;
    width: 267px;
    height: 72px;
}

#credit {
    left: 616px;
    top: 200px;
    width: 236px;
    height: 36px;
}

#image1 {
    position: absolute;
    left: 25px;
    top: 150px;
    width: 370px;
    height: 270px;
}

#image1credit{
    top: 415px;
    left: 100px;
}

#image2{
    position: absolute;
    left: 1125px;
    top: 150px;
    width: 370px;
    height: 270px;
}

#image2credit{
    top: 415px;
    left: 1240px;
}

#subheading1{
    left: 607px;
    top: 300px;
    width: 300px;
    height: 37px;
}

#fireicon{
    left: 174px;
    top: 450px;
}

#thumbsdownicon{
    left: 730px;
    top: 450px;
}

#staricon{
    left: 1293px;
    top: 450px;
}

#middleheading1{
    left: 147px;
    top:500px;
    width: 224px;
    height: 19px;
}

#fireparagraph{
    left: 147px;
    top: 550px;
    width: 170px;
    height: 113px;
}

#middleheading2{
    top: 500px;
    width: 224px;
    height: 19px;
    left: 693px;
}

#thumbsparagraph{
    top:550px;
    width:170px;
    height:113px;
    left:693px;
}

#middleheading3{
    top: 500px;
    left: 1230px;
    height: 19px;
    width: 224px;
}

#starparagraph{
    top:550px;
    width: 170px;
    height: 113px;
    left: 1230px;
}

#subheading2{
    left: 695px;
    top: 700px;
    height: 145px;
    width: 200px;
}

#defparagraph{
    left: 695px;
    top: 800px;
    height: 94px;
    width: 400px;
}

#monkeyimage{
    position: absolute;
    left: 25px;
    width: 370px;
    height: 370px;
    top: 700px;
}

#monkeycredit{
    top: 1075px;
    left: 80px;
}

#destructionimage{
    position: absolute;
    left: 1125px;
    width: 370px;
    height: 370px;
    top: 700px;
}

#destructioncredit{
    top: 1075px;
    left: 1210px;
}

#subheading3{
    top: 950px;
    left:695px;
    height: 145px;
    width: 200px;
}

#smolparagraph1{
    top:1000px;
    left:695px;
    height: 145px;
    width: 200px;
}
#naturalcauses{
    top: 1050px;
    left:695px;
    height: 145px;
    width: 200px;
}

#subheading4{
    top:1150px;
    left:695px;
    height: 145px;
    width: 200px;
}

#smolparagraph2{
    top:1250px;
    left:695px;
    height: 145px;
    width: 200px;
}
#humancauses{
    top: 1300px;
    left:695px;
    height: 145px;
    width: 200px;
}

#philippines{
    position: absolute;
    left: 25px;
    top: 1320px;
    width: 370px;
    height: 270px;
}

#phillipinescredit{
    top:1585px;
    left: 80px;
}

#germany{
        position: absolute;
        left: 1125px;
        top: 1320px;
        width: 370px;
        height: 270px;
}

#germanycredit{
    top:1585px;
    left:1200px;
}